<a href="https://colab.research.google.com/github/rayeeed/data-puzzle-1/blob/main/Copy_of_Data_Puzzle_Earth's_PSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

Here's is the message from Earth:
'I remember that if you sort the countries (or dependencies) [Guinea, Iran, Trinidad And Tobago, Honduras, Lebanon, Ethiopia, Niger, Afghanistan, India, American Samoa, Cuba, Gabon, Nicaragua, Channel Islands, Martinique] by density of population (DESCENDING) and then only look at the first letter of each country, you'll get my message back!! Can you help me please?'

To help our planet, we preloaded world population and geographical data from the website Worldometer (https://worldometers.info/). Use it to do what the earth says and decode the message!

In [1]:
import pandas as pd

countries = ['Guinea', 'Iran', 'Trinidad and Tobago', 'Honduras', 'Lebanon',
             'Ethiopia', 'Niger', 'Afghanistan', 'India', 'American Samoa',
             'Cuba', 'Gabon', 'Nicaragua', 'Channel Islands', 'Martinique']

country_pop = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/population_by_country.csv')

In [2]:
country_pop.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share
0,China,1440297825,0.39 %,61 %,18.47 %
1,India,1382345085,0.99 %,35 %,17.70 %
2,United States,331341050,0.59 %,83 %,4.25 %
3,Indonesia,274021604,1.07 %,56 %,3.51 %
4,Pakistan,221612785,2.00 %,35 %,2.83 %

In [3]:
country_surface = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/surface_by_country.csv')

In [4]:
country_surface.head()

  Country (or dependency)  Land Area (Km²)
0                   China          9388211
1                   India          2973190
2           United States          9147420
3               Indonesia          1811570
4                Pakistan           770880

In [19]:
df1=country_pop.loc[country_pop['Country (or dependency)'].isin(countries)]
df1.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share
1,India,1382345085,0.99 %,35 %,17.70 %
11,Ethiopia,115434444,2.57 %,21 %,1.47 %
17,Iran,84176929,1.30 %,76 %,1.08 %
36,Afghanistan,39074280,2.33 %,25 %,0.50 %
55,Niger,24346468,3.84 %,17 %,0.31 %

In [21]:
df2=country_surface.loc[country_surface['Country (or dependency)'].isin(countries)]
df2.head()

   Country (or dependency)  Land Area (Km²)
1                    India          2973190
11                Ethiopia          1000000
17                    Iran          1628550
36             Afghanistan           652860
55                   Niger          1266700

In [22]:
# Your turn now!
country=pd.merge(df1, df2)

In [23]:
country.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²)
0,India,1382345085,0.99 %,35 %,17.70 %,2973190
1,Ethiopia,115434444,2.57 %,21 %,1.47 %,1000000
2,Iran,84176929,1.30 %,76 %,1.08 %,1628550
3,Afghanistan,39074280,2.33 %,25 %,0.50 %,652860
4,Niger,24346468,3.84 %,17 %,0.31 %,1266700

In [25]:
country['density']=country['Population (2020)']/country['Land Area (Km²)']

In [27]:
country.sort_values('density', ascending= False)

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²),density
13,Channel Islands,174140,0.93 %,30 %,0.00 %,190,916.526316
8,Lebanon,6819976,-0.44 %,78 %,0.09 %,10230,666.664321
0,India,1382345085,0.99 %,35 %,17.70 %,2973190,464.936679
12,Martinique,375213,-0.08 %,92 %,0.00 %,1060,353.974528
14,American Samoa,55169,-0.22 %,88 %,0.00 %,200,275.845000
11,Trinidad and Tobago,1400283,0.32 %,52 %,0.02 %,5130,272.959649
1,Ethiopia,115434444,2.57 %,21 %,1.47 %,1000000,115.434444
6,Cuba,11325391,-0.06 %,78 %,0.15 %,106440,106.401644
7,Honduras,9931333,1.63 %,57 %,0.13 %,111890,88.759791
3,Afghanistan,39074280,2.33 %,25 %,0.50 %,652860,59.850933
9,Nicaragua,6638075,1.21 %,57 %,0.08 %,120340,55.161002
5,Guinea,13191279,2.83 %,39 %,0.17 %,245720,53.684189
2,Iran,84176929,1.30 %,76 %,1.08 %,1628550,51.688268
4,Niger,24346468,3.84 %,17 %,0.31 %,1266700,19.220390
10,Gabon,2234448,2.45 %,87 %,0.03 %,257670,8.671743